<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/CalendarIcon.svg" />
    <title>Calendario || SENA</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <img class="fondo" alt="fondo" />
        <a href="http://localhost:4000/api/event" class="asena">
          <img class="sena" alt="sena" />
        </a>
        <img
          src="../../../public/SENAP.png"
          class="senamobile"
          alt="senamobile"
        />
        <img class="adso" alt="adso" />
        <img
          src="../../../public/ADSOP.png"
          class="adsomobile"
          alt="adsomobile"
        />
      </div>
      <div class="barratxt work-sans">Calendario de eventos</div>
      <button class="cerrarsesion" id="cerrarsesion">Cerrar sesión</button>
      <div class="calendar-container"></div>
      <footer class="footer">
        <img
          src="../../../public/SENAVERDE.svg"
          class="senaverde"
          alt="senaverde"
        />
        <p class="footertxt work-sans">
          © 2024 Servicio Nacional De Aprendizaje SENA | Todos los derechos
          reservados. <br />
          <a href="" class="afooter">Ver Equipo de Desarrollo</a>, Programa
          Análisis y Desarrollo de Software. | Versión 1.0.0
        </p>
      </footer>
    </div>
    <dile-modal id="event-modal" class="modal-container">
      <h2 class="work-sans" id="tev">Gestionar evento</h2>
      <form>
        <input class="inputtxt" type="text" name="area" placeholder="Area" />
        <input
          class="inputtxt"
          type="text"
          placeholder="Nombre del evento"
          name="title"
        />
        <textarea
          name="description"
          id=""
          cols="30"
          rows="6"
          placeholder="Descripción del evento"
        ></textarea>
        <input class="inputtxt" type="text" placeholder="URL" name="vinculo" />
        <label class="lbarchivo work-sans" for="filein"
          >Seleccionar archivo</label
        >
        <input type="file" name="img" id="filein" class="inpimg" />
        <span class="filename work-sans" id="fileName"
          >Ningún archivo seleccionado</span
        >
        <div class="btns-container">
          <div class="cart-button">
            <button type="submit" class="registrar">Registrar</button>
          </div>
          <div class="cart-button">
            <button type="button" class="delete-event-btn d-none">
              Eliminar
            </button>
          </div>
        </div>
      </form>
    </dile-modal>
    <dile-modal id="eventmodal" blocking persistent>
      <div class="modal-evento">
        <div class="modal-header">
          <h2 class="evento work-sans">Evento</h2>
          <button class="x" aria-label="Cerrar">×</button>
        </div>
        <div class="modal-content">
          <div class="vistaarea work-sans"></div>
          <div class="vistatitulo work-sans"></div>
          <div class="vistadescripcion work-sans"></div>
          <a class="vistavinculo work-sans" target="_blank"></a>
          <div class="vistaimagen work-sans" id="imgmodal"></div>
        </div>
      </div>
    </dile-modal>
    <script type="module" src="main.js"></script>
  </body>
</html>
