<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullCalendar</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <img class="fondo" alt="fondo" />
        <a href="http://localhost:4000/api/event" class="asena">
          <img class="sena" alt="sena" />
        </a>
        <img
          src="../../../public/SENAP.png"
          class="senamobile"
          alt="senamobile"
        />
        <img class="adso" alt="adso" />
        <img
          src="../../../public/ADSOP.png"
          class="adsomobile"
          alt="adsomobile"
        />
      </div>
      <div class="barratxt work-sans">Calendario de eventos</div>
      <div class="calendar-container"></div>
      <footer class="footer">
        <img
          src="../../../public/SENAVERDE.svg"
          class="senaverde"
          alt="senaverde"
        />
        <p class="footertxt work-sans">
          © 2024 Servicio Nacional De Aprendizaje SENA | Todos los derechos
          reservados. <br />
          <a href="" class="afooter">Ver Equipo de Desarrollo</a>, Programa
          Análisis y Desarrollo de Software. | Versión 1.0.0
        </p>
      </footer>
    </div>
    <dile-modal id="event-modal" class="modal-container">
      <h2 id="tev">Gestionar evento</h2>
      <form>
        <input class="inputtxt" type="text" name="area" placeholder="Area" />
        <input
          class="inputtxt"
          type="text"
          placeholder="Nombre del evento"
          name="title"
        />
        <textarea
          name="description"
          id=""
          cols="30"
          rows="6"
          placeholder="Descripción del evento"
        ></textarea>
        <input class="inputtxt" type="text" placeholder="URL" name="vinculo" />
        <label class="lbarchivo" for="filein">Seleccionar archivo</label>
        <input type="file" name="img" id="filein" class="inpimg" />
        <span class="filename" id="fileName">Ningún archivo seleccionado</span>
        <div class="btns-container">
          <div class="cart-button">
            <button type="submit" class="registrar">Registrar</button>
          </div>
          <div class="cart-button">
            <button type="button" class="delete-event-btn d-none">
              Eliminar
            </button>
          </div>
        </div>
      </form>
    </dile-modal>
    <dile-modal class="modal-evento" id="eventmodal">
      <div class="rectangle-25"></div>
      <div class="www-bienestaralaprendiz-googleforms-com">
        www.bienestaralaprendiz.googleforms.com
      </div>
      <div
        class="evento-encargado-de-tomar-registro-acerca-del-aprendiz-y-su-informaci-n-con-el-fin-de-tener-en-la-base-de-datos-todo-lo-que-se-necesita-para-ayudar-al-aprendiz-y-su-crecimiento-en-el-instituto-de-formaci-n-sena"
      >
        Evento encargado de tomar registro acerca del aprendiz y su información,
        con el fin de tener en la base de datos todo lo que se necesita para
        ayudar al aprendiz y su crecimiento en el instituto de formación SENA.
      </div>
      <div class="registro-de-aprendices">Registro de aprendices</div>
      <div class="bienestar-al-aprendiz">Bienestar al aprendiz</div>
      <div class="evento">Evento</div>
      <div class="x">x</div>
    </dile-modal>
    <button id="myBtn">Open modal</button>
    <script type="module" src="main.js"></script>
  </body>
</html>
