@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
:root {
  --mainColor: #39a900;
  --mainColorDarker: #39a900;
  --mainColorLighter: #39a900;
  --dangerColor: #d53b3b;
  --dile-modal-border-radius: 5px;
  --dile-modal-content-shadow-displacement: 0px;
  --dile-modal-content-shadow-blur: 30px;
  --dile-modal-content-shadow-color: rgba(0, 0, 0, 0.2);
  --dile-modal-width: 500px;
  --dile-modal-content-padding: 20px;
  --fc-event-bg-color: var(--mainColor);
  --fc-event-border-color: var(--mainColorLighter);
}
.fc-daygrid-event {
  white-space: normal !important;
  align-items: normal !important;
}

.custom-event-content {
  font-size: 0.8em;
  line-height: 1.2;
  overflow: hidden;
  max-height: 100%;
  word-wrap: break-word;
}

.event-area {
  font-weight: bold;
  color: #666;
  margin-bottom: 2px;
}

.event-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.event-time {
  font-size: 0.9em;
  color: #444;
  margin-bottom: 1px;
}

.event-description {
  font-style: italic;
  color: #777;
}

/* Ajusta el tamaño de las celdas del calendario para que quepa más contenido */
.fc-daygrid-day-frame {
  min-height: 100px;
}

/* Asegura que los eventos en la vista de semana también se ajusten correctamente */
.fc-timegrid-event-harness {
  overflow: hidden;
}

.fc-timegrid-event {
  overflow: hidden;
  max-height: 100%;
}
.fc-event {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #191919;
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container .header {
  color: #fff;
  background-color: var(--mainColor);
  padding: 20px 0;
}
.main-container .header .logo {
  display: block;
  width: 100%;
  max-width: 60px;
  margin: 0 auto;
}
.main-container .header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}
.main-container .calendar-container {
  flex: 1;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
.main-container .footer {
  color: #fff;
  background-color: var(--mainColorDarker);
  padding: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.main-container .footer a {
  color: #fff;
  text-decoration: none;
}
.modal-container h2 {
  color: var(--mainColor);
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 20px 0;
}
.modal-container .inputtxt,
.modal-container textarea {
  background-color: #cccccc;
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}
.btns-container {
  display: flex;
  justify-content: center; /* Centra el contenido */
  gap: 60px; /* Espacio entre los botones */
}
.btns-container2 {
  display: flex;
  margin-left: 160px;
}
.cart-button,
.cart-button * {
  box-sizing: border-box;
}
.cart-button {
  border-radius: 8px;
  padding: 14px 23px 14px 23px;
  width: 127.81px;
  height: 30.41px;
  position: relative;
  overflow: hidden;
}
.registrar {
  color: #04324d;
  text-align: center;
  background-color: #fdc300;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: -27.55px;
  top: -1.59px;
  width: 181px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.delete-event-btn {
  color: #04324d;
  text-align: center;
  background-color: #fd0000d0;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: -27.55px;
  top: -1.59px;
  width: 181px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logoS {
  width: 50px;
  height: 50px;
}
.d-none {
  display: none !important;
}
.fc .fc-toolbar-title {
  color: var(--mainColorDarker);
}
.inpimg {
  display: none;
}
.lbarchivo {
  display: inline-block;
  font-size: 13px;
  padding: 5px 15px;
  color: #6a6a6a;
  background-color: #cccccc; /* Cambia este color */
  border-radius: 5px; /* Cambia el border-radius */
  cursor: pointer;
  margin-bottom: 30px;
}
.lbarchivo:hover {
  background-color: #afafaf; /* Cambia este color */
}
.filename {
  margin-left: 4px;
  font-size: 13px;
}
.fc .fc-button-primary {
  background-color: #04324d;
  border-color: #04324d;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #061c29;
  border-color: #061c29;
}
.fc-toolbar-title {
  text-transform: lowercase;
}
.fc-toolbar-title::first-letter {
  text-transform: uppercase;
}
.barratxt {
  max-width: 100%;
  background-color: #04324d;
  text-align: center;
  color: #fdc300;
  font-size: 40px;
}
.modal-evento,
.modal-evento * {
  box-sizing: border-box;
}
.modal-evento {
  position: relative;
}
.rectangle-25 {
  background: #ffffff;
  border-radius: 72px;
  width: 656px;
  height: 924px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.www-bienestaralaprendiz-googleforms-com {
  color: #04324d;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 135px;
  top: 575px;
  -webkit-text-stroke: 1px #04324d;
}
.evento-encargado-de-tomar-registro-acerca-del-aprendiz-y-su-informaci-n-con-el-fin-de-tener-en-la-base-de-datos-todo-lo-que-se-necesita-para-ayudar-al-aprendiz-y-su-crecimiento-en-el-instituto-de-formaci-n-sena {
  color: #000000;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 25px;
  line-height: 163%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 103px;
  top: 275px;
  width: 462px;
}
.registro-de-aprendices {
  color: #04324d;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 30px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 174px;
  top: 204px;
  -webkit-text-stroke: 1px #04324d;
}
.bienestar-al-aprendiz {
  color: #04324d;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 40px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 141px;
  top: 131px;
  -webkit-text-stroke: 1px #04324d;
}
.evento {
  color: #39a900;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 100%;
  font-weight: 600;
  position: absolute;
  left: 233px;
  top: 47px;
  width: 234px;
  height: 44px;
}
.x {
  color: #000000;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 100%;
  font-weight: 600;
  position: absolute;
  left: 568px;
  top: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fc .fc-toolbar {
    display: block;
    text-align: center;
  }
  .fc .fc-toolbar-title {
    margin: 10px 0;
  }
  .barratxt {
    font-size: 25px;
  }
}
