<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./calendar/style.css" />
  </head>
  <body>
    <div class="header">
      <img class="fondo" alt="fondo" />
      <a href="http://localhost:4000/api/event" class="asena">
        <img class="sena" alt="sena" />
      </a>
      <img
        src="../../../public/SENAP.png"
        class="senamobile"
        alt="senamobile"
      />
      <img class="adso" alt="adso" />
      <img
        src="../../../public/ADSOP.png"
        class="adsomobile"
        alt="adsomobile"
      />
    </div>
  </body>
</html>
